# This is a placeholder to add all the config checks
# and inits process used in Klippain

[delayed_gcode KLIPPAIN_STARTUP]
initial_duration: 1
gcode:
    _KLIPPAIN_STARTUP

# declare startprint_actions_array
[gcode_macro _USER_VARIABLES]
variable_klippain_startup_succeded: False

[gcode_macro _KLIPPAIN_STARTUP]
gcode:
    {% set _u_vars=printer["gcode_macro _USER_VARIABLES"] %}
    ## Set boot logo
    {% if _u_vars.minidisplay_bootlogo_enabled %}
        _INIT_BOOT_LOGO
    {% endif %}

    # Restart klipperscreen service on startup
    RUN_SHELL_COMMAND CMD=service_restart

    # Print system information using the system_info.py script to log them in the klippy.log
    RUN_SHELL_COMMAND CMD=system_info

    # Dump the MCU version to the console for the Klippy log
    _INIT_MCU_VER

    # Check variables
    _INIT_CHECK_VARIABLES

    # Check if all TMC has sense_resistor defined
    _INIT_CHECK_TMC_SENSE_RESISTOR

    # Check if there is an extruder set
    {% if not _u_vars.extruder_enabled %}
        { action_raise_error("Klippain need to have an extruder defined to work properly. Check your printer.cfg includes!") }
    {% endif %}

    # Check the probe configuration and compatibility with current includes
    _INIT_CHECKPROBECONF

    # If an MMU/ERCF is included in Klippain, we also check that the correct HH version is installed
    {% if _u_vars.klippain_mmu_enabled %}
        _INIT_CHECK_MMU
    {% endif %}

    ## Set the startup status LED
    _INIT_LEDS

    ## init material settings
    _MIGRATE_MATERIAL_SETTINGS
    _LOAD_PROFILE_BY_NAME TABLE='material'
    _LOAD_PROFILE_BY_NAME TABLE='buildplate'

    # build the start print sequence
    _INIT_START_PRINT_ACTIONS

    # build the end print sequence
    _INIT_END_PRINT_ACTIONS

    # User custom startup process. Define them in your overrides.cfg if needed :)
    _INIT_USERCUSTOM

    {% if klippain_mmu_enabled %}
        RESPOND MSG="Klippain with Happy_Hare v{printer.configfile.settings.mmu.happy_hare_version} MMU support started and ready!"
    {% else %}
        RESPOND MSG="Klippain started and ready!"
    {% endif %}

    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=klippain_startup_succeded VALUE=True

[gcode_macro _INIT_LEDS]
gcode:
    {% set _u_vars=printer["gcode_macro _USER_VARIABLES"] %}
    {% if _u_vars.status_leds_enabled or _u_vars.status_leds_caselight_enabled %}
        {% if _u_vars.caselight_on_at_startup|default(False) %}
            {% if _u_vars.light_enabled %}
                LIGHT_ON
            {% endif %}
            STATUS_LEDS COLOR="READY"
        {% else %}
            {% if _u_vars.light_enabled %}
                LIGHT_OFF
            {% endif %}
            STATUS_LEDS COLOR="OFF"
        {% endif %}
    {% endif %}


[gcode_macro _INIT_CHECKPROBECONF]
gcode:
    {% set _u_vars = printer["gcode_macro _USER_VARIABLES"] %}
    {% set probe_type_enabled = _u_vars.probe_type_enabled|string %}

    {% if _u_vars.zcalib_plugin_enabled %}
        {% if probe_type_enabled.endswith("tap_probe") %}
            { action_raise_error("TAP Probe and Z calibration plugin cannot be used at the same time in Klippain!") }
        {% elif probe_type_enabled == "bltouch" %}
            { action_raise_error("BLTouch Probe and Z calibration plugin cannot be used at the same time in Klippain!") }
        {% elif probe_type_enabled == "inductive" %}
            { action_raise_error("Inductive probe and Z calibration plugin cannot be used at the same time in Klippain!") }
        {% elif probe_type_enabled == "dockable_virtual" or probe_type_enabled == "inductive_virtual" %}
            { action_raise_error("Virtual Z endstop probes are not compatible with the Z calibration plugin!") }
        {% elif probe_type_enabled == "none" %}
            { action_raise_error("You need a probe to use the Z calibration plugin in Klippain!") }
        {% endif %}
    {% endif %}

    {% if _u_vars.bed_mesh_enabled and probe_type_enabled == "none" %}
        { action_raise_error("You need a to define a probe to be able to perform a bed mesh in Klippain!") }
    {% endif %}

    {% if _u_vars.qgl_enabled and probe_type_enabled == "none" %}
        { action_raise_error("You need a to define a probe to be able to perform a quad gantry leveling in Klippain!") }
    {% endif %}

    {% if _u_vars.ztilt_enabled and probe_type_enabled == "none" %}
        { action_raise_error("You need a to define a probe to be able to perform a Z tilt adjust in Klippain!") }
    {% endif %}


[gcode_macro _INIT_MCU_VER]
gcode:
    {% set parameters = namespace(output = 'Currently configured MCU(s): \n') %}
    {% for name1 in printer %}
        {% for name2 in printer[name1] %}
        {% set show = ['mcu_version'] %}
        {% if name2 is in show %}
            {% set param = "%s: %s" % (name1, printer[name1][name2]) %}
            {% set parameters.output = parameters.output +  param + "\n" %}
        {% endif %}
        {% endfor %}
    {% endfor %}
    {action_respond_info(parameters.output)}



[gcode_macro _INIT_CHECK_TMC_SENSE_RESISTOR]
gcode:
    {% set _errors = [] %}
    {% for tmc in printer.configfile.config if tmc.startswith("tmc") %}
        {% set chip, name = tmc.split(' ') %}
        {% if chip in ['tmc2208', 'tmc2209', 'tmc2130', 'tmc5160'] and printer.configfile.config[tmc].sense_resistor is not defined %}
            {% set _= _errors.append("`%s`" % tmc) %}
        {% endif%}
    {% endfor %}
    {% if _errors|length %}
        RESPOND PREFIX="TMC config error:" MSG="<span class="error"--text> sense_resistor MUST but set for <br/>  {
            _errors|join("<br/>")}<br/> See docs/TMC_sense_resistor.md</span>"
        _RAISE_ERROR MSG="Configuration error"
    {% endif %}


[gcode_macro _INIT_CHECK_MMU]
gcode:
    {% if printer.mmu is not defined %}
        { action_raise_error("MMU support is enabled in Klippain, but HappyHare, the supported MMU backend software is not detected. See the corresponding documentation: https://github.com/Frix-x/klippain/blob/main/docs/mmu.md") }
    {% else %}
        {% if printer.configfile.settings.mmu.happy_hare_version >= 3.0 %}      ### _MMU_SEQUENCE_VARS overrides for HH v3.0 and higher
            _MMU_RUN_MARKERS
        {% else %}
            { action_raise_error("Unsupported Happy Hare Version please update to 3.0 minimum") }
        {% endif %}
    {% endif %}


# declare start/endprint_actions_array
[gcode_macro _USER_VARIABLES]
variable_startprint_actions_array: []
variable_endprint_actions_array: []


[gcode_macro _INIT_START_PRINT_ACTIONS]
gcode:
    {% set _u_vars = printer["gcode_macro _USER_VARIABLES"] %}
    {% set start_actions_list= [] %}

    # Function to append action to start_actions_list if enabled
    {% macro append_list(items, enabled=True)%}
        {% if items is mapping %}{% set items = [ items ] %}{% endif %}
        {% if enabled %}{% set _= start_actions_list.extend(items) %}{% endif %}
    {% endmacro %}

    ## add leading items to start_print_actions
    { append_list({'command' : 'CLEAR_PAUSE'}) }
    { append_list({'command' : 'STATUS_LEDS', 'parameters': 'COLOR=BUSY'}, _u_vars.status_leds_enabled) }
    { append_list({'command' : 'LIGHT_ON', 'parameters': 'S=%s' % _u_vars.light_intensity_start_print|int}, _u_vars.light_enabled) }
    { append_list({'command' : 'BED_MESH_CLEAR'}, _u_vars.bed_mesh_enabled) }
    { append_list([{'command' : 'M106', 'parameters': 'S255'},
        {'command' : 'G4', 'parameters': 'P2000'},
        {'command' : '_PART_FAN_CHECK'},
        {'command' : 'M106', 'parameters': 'S0'}], _u_vars.part_fan_tach_enabled) }
    { append_list({'command' : 'UPDATE_DELAYED_GCODE', 'parameters': 'ID=_BACKGROUND_HOTEND_TACHO_CHECK DURATION=1'}, _u_vars.hotend_fan_tach_enabled) }
    { append_list([ {'command': 'SET_GCODE_OFFSET', 'parameters': 'Z=0'},
        {'command': 'M221', 'parameters': 'S100'},
        {'command': 'M220', 'parameters': 'S100'},
        {'command': 'G90'},
        {'command': 'M83'},
        {'module': 'MATERIAL_SETTINGS'} ]) }
    { append_list({'command': '_CG28'}, not _u_vars.force_homing_in_start_print ) }
    { append_list({'command': 'G28'}, _u_vars.force_homing_in_start_print ) }
    
    # if user defines his own start print sequence
    {% if _u_vars.startprint_actions_array != [] %}

        { append_list(_u_vars.startprint_actions_array) }
    {% else %}
    
        # If an MMU is enabled, initialize it for the print
        { append_list({'command': '_KLIPPAIN_MMU_INIT', 'parameters':'', 'inject_startprint_params' : True},
                 _u_vars.klippain_mmu_enabled) }

        { append_list([ {'module' : 'HEATSOAK_BED'},
                      {'module' : 'EXTRUDER_PREHEATING'},
                      {'module' : 'HEATSOAK_CHAMBER'} ]) }
        
        # if probe is tap_probe
        {% if _u_vars.probe_type_enabled == "tap_probe" %}
            # if probe is a tap_probe
            # Clean
            { append_list({'module' : 'CLEAN'}, _u_vars.purge_and_brush_enabled) }

            # Z Tilt
            { append_list({'module' : 'TILTING'}, _u_vars.qgl_enabled or _u_vars.ztilt_enabled) }

            # Bed Mesh
            { append_list({'module' : 'BED_MESH'}, _u_vars.bed_mesh_enabled) }
			
            # Z calibration & Heat Extruder
            { append_list([{'module' : 'Z_CALIB'}, {'module' : 'EXTRUDER_HEATING'}]) }

           # Load initial tool into MMU (if needed) after extruder heating
            { append_list([{'command': '_KLIPPAIN_MMU_LOAD_INITIAL_TOOL', 'parameters':'', 'inject_startprint_params' : False},
                    {'command': '_MMU_RUN_MARKERS', 'parameters':'', 'inject_startprint_params' : False}], _u_vars.klippain_mmu_enabled) }

            # Purge & Clean
            { append_list([{'module' : 'PURGE'},{'module' : 'CLEAN'}], _u_vars.purge_and_brush_enabled) }

        # if probe is eddy_tap_probe
        {% elif _u_vars.probe_type_enabled == "eddy_tap_probe" %}
             # Z Tilt
            { append_list({'module' : 'TILTING'}, _u_vars.qgl_enabled or _u_vars.ztilt_enabled) }

             # Bed Mesh
            { append_list({'module' : 'BED_MESH'}, _u_vars.bed_mesh_enabled) }
			
			# Clean before tap with cartographer survey or beacon contact
            { append_list({'module' : 'CLEAN'}, _u_vars.purge_and_brush_enabled) }
			
            # Z calibration & Heat Extruder
            { append_list([{'module' : 'Z_CALIB'}, {'module' : 'EXTRUDER_HEATING'}]) }

            # Load initial tool into MMU (if needed) after extruder heating
            { append_list([{'command': '_KLIPPAIN_MMU_LOAD_INITIAL_TOOL', 'parameters':'', 'inject_startprint_params' : False},
                    {'command': '_MMU_RUN_MARKERS', 'parameters':'', 'inject_startprint_params' : False}], _u_vars.klippain_mmu_enabled) }

            # Purge & Clean
            { append_list([{'module' : 'PURGE'},{'module' : 'CLEAN'}], _u_vars.purge_and_brush_enabled) }

        {% else %}
            # Any other probes
            # Z Tilt
            { append_list([{'module' : 'TILTING'},
                    {'command': 'G28', 'parameters':'Z', 'inject_startprint_params' : False}], 
                    _u_vars.qgl_enabled or _u_vars.ztilt_enabled) }

            # Heat Extruder
            { append_list({'module' : 'EXTRUDER_HEATING'}) }

            # Load intial tool into MMU (if needed) after extruder heating
            { append_list([{'command': '_KLIPPAIN_MMU_LOAD_INITIAL_TOOL', 'parameters':'', 'inject_startprint_params' : False},
                    {'command': '_MMU_RUN_MARKERS', 'parameters':'', 'inject_startprint_params' : False}], _u_vars.klippain_mmu_enabled) }

            # Purge & Clean
            { append_list([{'module' : 'PURGE'},{'module' : 'CLEAN'}], _u_vars.purge_and_brush_enabled) }

            # Z calibration
            { append_list({'module' : 'Z_CALIB'},  _u_vars.zcalib_plugin_enabled) }

            # Bed Mesh
            { append_list({'module' : 'BED_MESH'}, _u_vars.bed_mesh_enabled) }

        {% endif %}

        # Z_adjust & PrimeLine
        { append_list( [{'module': 'Z_ADJUST'}, {'module' : 'PRIMELINE'}]) }
    {% endif %}
## add queue items to start_actions_list

    { append_list({'command' : 'SET_FILAMENT_SENSOR', 'parameters': 'SENSOR=runout_sensor ENABLE=1'}, _u_vars.filament_sensor_enabled) }
        # And.... Goooo!
    { append_list({'command' : 'STATUS_LEDS', 'parameters': 'COLOR=PRINTING'}, _u_vars.status_leds_enabled) }
    { append_list({'command' : 'LIGHT_ON', 'parameters': 'S=%s' % _u_vars.light_intensity_printing|int}, _u_vars.light_enabled) }
    { append_list({'command' : 'G92', 'parameters': 'E0.0'}) }

    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=startprint_actions_array VALUE="{start_actions_list}"


[gcode_macro _INIT_END_PRINT_ACTIONS]
gcode:
    {% set _u_vars = printer["gcode_macro _USER_VARIABLES"] %}

    # if user doesn't define his own end print sequence
    {% if _u_vars.endprint_actions_array == [] %}
        {% set actions_list = [] %}

        {% set _= actions_list.append( {'command': 'PARK', 'parameters':'', 'inject_endprint_params' : False})%}
        {% set _= actions_list.append( {'command': 'M400', 'parameters':'', 'inject_endprint_params' : False})%}

        {% if _u_vars.klippain_mmu_enabled %}
            {% set _= actions_list.append( {'module' : 'MMU_END'})%}
        {% endif %}

        {% set _= actions_list.append( {'module' : 'RETRACT_FILAMENT'})%}

        {% if _u_vars.bed_mesh_enabled %}
            {% set _= actions_list.append( {'command': 'BED_MESH_CLEAR', 'parameters':'', 'inject_endprint_params' : False})%}
        {% endif %}

        {% set _= actions_list.append( {'module' : 'TURN_OFF_HEATERS'})%}
        {% set _= actions_list.append( {'module' : 'TURN_OFF_FANS'})%}
        {% set _= actions_list.append( {'module' : 'TURN_OFF_MOTORS'})%}
        {% set _= actions_list.append( {'module' : 'RESET_LIMITS'})%}

        {% if _u_vars.filter_enabled %}
            {% set _= actions_list.append( {'module' : 'END_FILTERING'})%}
        {% endif %}
  
        {% if _u_vars.light_enabled %}
           {% set _= actions_list.append( {'command': 'LIGHT_ON', 'parameters':'S=%.1f' % (_u_vars.light_intensity_end_print), 'inject_endprint_params' : False})%}
        {% endif %}
      
        {% if _u_vars.status_leds_enabled %}
            {% set _= actions_list.append( {'command': 'STATUS_LEDS', 'parameters':'COLOR="DONE_PRINTING"', 'inject_endprint_params' : False})%}
        {% endif %}

        SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=endprint_actions_array VALUE="{actions_list}"
    {% endif %}


[gcode_macro _INIT_CHECK_VARIABLES]
variable_deprecated_variables: {
    "startprint_actions" : {"msg" : "Please migrate to the new method." , "doc" : "start_print.md"},
    "print_default_bed_temp" : { "doc" : "materials_management.md" },
    "print_default_extruder_temp" : { "doc" : "materials_management.md" },
    "print_default_chamber_temp" : { "doc" : "materials_management.md" },
    "print_default_chamber_max_heating_time" : { "doc" : "materials_management.md" },
    "print_default_soak" : { "doc" : "materials_management.md" },
    "print_default_material" : { "doc" : "materials_management.md" },
    "purge_length" : {"doc" : "materials_management.md" },
    "standby_retract_length" : {"doc" : "materials_management.md" },
    "purge_speed" : {"doc" : "materials_management.md" },
    "retract_length" : {"doc" : "materials_management.md" },
    "unretract_length" : {"doc" : "materials_management.md" },
    "prime_line_flowrate" : {"doc" : "materials_management.md" },
    "prime_line_pressure_length" : {"doc" : "materials_management.md" },
    "prime_line_flowrate" : {"doc" : "materials_management.md" },
    "mmu_force_homing_in_start_print" : {"doc" : "mmu.md"},
    "mmu_unload_on_cancel_print" : {"doc" : "mmu.md"},
    "mmu_unload_on_end_prin" : {"doc" : "mmu.md"},
    "mmu_check_gates_on_start_print" : {"doc" : "mmu.md"},
    "mmu_check_errors_on_start_print" : {"doc" : "mmu.md"},
    }
gcode:
    {% set doc_url = "https://github.com/elpopo-eng/klippain-chocolate/tree/main/docs/" %}
    {% set _u_vars = printer["gcode_macro _USER_VARIABLES"] %}
    {% set lists = {} %}

    {% for var , content in deprecated_variables.items() if var in _u_vars %}
        {% if not lists[content.doc] %}{% set _= lists.update({content.doc : []}) %}{% endif %}
        {% set _=lists[content.doc].append("%s : %s " % (var,content.msg) if content.msg else var) %}
    {% endfor %}
    {% for doc, el in lists.items() %}
        RESPOND PREFIX='Deprecated _USER_VARIABLES :' MSG="<span class="warning"--text> {%
        if doc %} See <a href='{doc_url + doc}' target='_blank'>{doc}</a>{%endif%} </br> '{el|join("'</br> '")}'"
    {% endfor %}


# Helper to raise error after console messages were dispatched
# the part of the macro before _RAISE_ERROR is buffered
[gcode_macro _RAISE_ERROR]
gcode:
    CANCEL_PRINT
    {action_raise_error(params.MSG|default(error))}


[gcode_macro _INIT_USERCUSTOM]
gcode:
    # ---- CUSTOM Macro section
    # this section is reserved for personal customized user startup
    # in order to use this, create a new macro in your overrides.cfg
    # [gcode_macro _INIT_USERCUSTOM]
    # gcode:
    #   ## Your custom code here

