
[gcode_macro ACTIVATE_PROBE]
description: Put the machine in a state being able to probe
variable_temperature: 0
gcode:
    {% set LOCK = params.LOCK|default(False, boolean=true) %}

    {% if LOCK %}
        SET_DOCKABLE_PROBE AUTO_ATTACH_DETACH=0
    {% endif %}
    ATTACH_PROBE
    
[gcode_macro DEACTIVATE_PROBE]
description: Revert the machine to a normal state after probing
gcode:
    {% set UNLOCK = params.UNLOCK|default(False, boolean=true) %}

    {% if UNLOCK or printer.dockable_probe.auto_attach_detach %}
        DETACH_PROBE
        SET_DOCKABLE_PROBE AUTO_ATTACH_DETACH=1
    {% endif %}
   
# Next is used if there is QGL/Z_TILT or BED_MESH currently being measured with an
# error to be able to dock the probe before stopping everything on the machine
[gcode_macro _PROBE_ON_ERROR_ACTION]
variable_probing: False
gcode:
    {% set autodock_on_probe_error = printer["gcode_macro _USER_VARIABLES"].autodock_on_probe_error %}

    {% if autodock_on_probe_error and probing %}
        DEACTIVATE_PROBE
    {% endif %}

    SET_GCODE_VARIABLE MACRO=_PROBE_ON_ERROR_ACTION VARIABLE=probing VALUE=False