# de/activete placeholder

[gcode_macro ACTIVATE_PROBE]
description: Put the machine in a state being able to probe
gcode:


[gcode_macro DEACTIVATE_PROBE]
description: Revert the machine to a normal state after probing
gcode:
    
