
# this file is used to apply a "z calibration" when mesh is not required 
# and print area does not start on the home point

[gcode_macro CALIBRATE_Z]
gcode:
    {% set _u_vars = printer["gcode_macro USER_VARIABLES"] %}
    {% set _settings = printer.confifile.settings %}
    {% set _abm = printer["gcode COMPUTE_MESH_PARAMETERS"].abm if _u_vars.bed_mesh_enabled else {"ready": False, "do_mesh": False} %}

    {% if not _abm.do_mesh and _abm.ready %}
        {% set ZRPx, ZRPy = _settings.bed_mesh.zero_reference_position %}
        {% set MCx, MCy = _abm.mesh_center %}
 
        G0 X{ZRPx} Y{ZRPy} F{_u_vars.homing_travel_speed}
        PROBE
        _APPLY_Z_OFFSET POINT=ZRP
        G0 X{MCx} Y{MCy} F{_u_vars.homing_travel_speed}
        PROBE
        _APPLY_Z_OFFSET POINT=MC XY={MCx},{MCy}
    {% endif %}

[gcode_macro _APPLY_Z_OFFSET]
variable_AZO: {"ready": False, "ZRP": 0}
gcode:
    {% if not AZO.ready and params.ZRP is defined %}
        {% set _= AZO.update({"ready": True, "ZRP" : printer.probe.last_z_result})%}
    {% elif AZO.ready and params.MC is defined %}
        {% set _= AZO.update({"ready": False})%}
        {% set z_offset = printer.probe.last_z_result - AZO.ZRP %}
        RESPOND MSG="Calibration Z : Apply Z Offset to X,Y {params.XY}  : {z_offset}mm"
        SET_GCODE_OFFSET Z={ z_offset }
    {% else %}
        { action_raise_error("CALIBRATE_Z : Unable to set Z offset, you must do a FIRMWRE_RESTART to fix the issue") }
    {% endif %}
