# this file is used to apply a "z calibration" when mesh is not required 
# and print area does not start on the home point

[gcode_macro CALIBRATE_Z]
gcode:
    {% set _u_vars = printer["gcode_macro USER_VARIABLES"] %}
    {% set _abm = printer["gcode COMPUTE_MESH_PARAMETERS"].abm if _u_vars.bed_mesh_enabled else {"ready": False, "do_mesh": False} %}

    {% if not _abm.do_mesh and _abm.ready %}
       G28 Z
    {% endif %}