[cartographer]
mcu: scanner
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
# x_offset: 0
#   Adjust for your cartographers offset from nozzle to middle of coil
# y_offset: 15
#   Adjust for your cartographers offset from nozzle to middle of coil
macro_prefix: carto
#   Alternate name to call commands. CARTO_TOUCH etc
travel_speed: 350
#   The speed of all travel moves (in mm/s).
lift_speed: 10
#   The speed of all lift moves (in mm/s).

[cartographer scan]
mesh_runs: 2
#    Number of passes to make during mesh scan.
probe_speed: 10
#   Speed (in mm/s) of the Z axis when probing.

[cartographer touch]
# To randomise the probe location, you can use this parameter to define the radius instead
# EXPERIMENTAL_home_random_radius: 0

[include ../../../macros/base/probing/generic_probe.cfg]
[include ../../../macros/base/probing/eddy_tap_probe.cfg]

# perform tap to calibrate z offset (specific for each probe)

[gcode_macro _EDDY_TAP_PROBE_TOUCH]
description: Perform the Z calibration using the cartographer plugin.
gcode:
    {% if params.X is not defined or params.Y is not defined  %}
        { action_raise_error("Parameter X and Y are mandatory") }
    {% endif %}

    {% set touch_x = params.X|float %}
    {% set touch_y = params.Y|float %}
    {% set homing_travel_speed = printer["gcode_macro _USER_VARIABLES"].homing_travel_speed|float * 60 %}

    SAVE_GCODE_STATE NAME=_EDDY_TAP_PROBE_TOUCH

    #go to tap_location
    G90
    G0 X{touch_x} Y{touch_y} Z10 F{homing_travel_speed}

  
    #Calibrate probe
    CARTOGRAPHER_TOUCH_PROBE
    RESTORE_GCODE_STATE NAME=_EDDY_TAP_PROBE_TOUCH
    _CARTOGRAPHER_SAVE_OFFSET  # Apply last touch result as z offset 

    
[gcode_macro _CARTOGRAPHER_SAVE_OFFSET]
gcode:
    SET_GCODE_OFFSET Z={printer.cartographer.touch.last_z_result}

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
