[gcode_macro _USER_VARIABLES]
variable_probe_type_enabled: "dockable"
gcode:

[include ../../../macros/base/probing/dockable_probe.cfg]

[dockable_probe]
pin: ^PROBE_INPUT
x_offset: -20
y_offset: 20
z_offset: 8
speed: 8
lift_speed: 15
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.007
samples_tolerance_retries: 3

check_open_attach: True
attach_speed: 100
detach_speed: 100
travel_speed: 300
auto_attach_detach: True
restore_toolhead: False
z_hop: 10

drop_first_result: True

# must be set in overrides. See https://docs.kalico.gg/Dockable_Probe.html
dock_position: -1000,-1000
approach_position: -1000,-1000
detach_position:  -1000,-1000
extract_position: -1000,-1000

[stepper_z]
endstop_pin: probe:z_virtual_endstop