###  FAN SAVIOR  ###
# ATTENTION : Kbobine 'vars.py' kalico plugins required
# V0.3
# What for :
#   Macros to keep fan ON as long as the temperature_sensor is hot (attempt to preserve plastic parts, eg bedfan)
#   Can track fan activity
# Nota :
#   If fan_speed > off_below, the fan will turn off itself
# Installation : 
#   - Uncomment or add [include addons/fan_savior.cfg] in printer.cfg
#   - add/modify variable_fan_savior according your config, 'fans' can contain several fan_generic
#   - setup control_speed for each fan, this will be the minimal speed but
#   also the speed tracked to let the fan stop itself while the temperature is low enough.
# Changelog :
# V0.1 (14/09/2023): initial version
# V0.2 (24/07/2025): Support more than 1 fan
# V0.3 (13/09/2025): Add timer tracking (for carbon filter) Kbobine 'vars.py' kalico plugins required
#                   inspired by MapleLeafMakers Air_filter_Timer

### ADAPT TO YOUR CONFIG ###
# adapt to your config in overrides.cfg
[gcode_macro _fan_savior]
variable_alert_frequency: 600
variable_fan_savior: {"bedfan": 
                        {"start_temp" : 80,  # bed temperature to start the fan  
                        "stop_temp" : 60,     # bed temperature to stop the fan unless manually turn off CANNOT BE LOWER THAN start_temp
                        "temperature_sensor" : "heater_bed",
                        "control_speed": 0.01,},
                      "filter":
                        {"start_temp" : 80,  # bed temperature to start the fan  
                        "stop_temp" : 60,     # bed temperature to stop the fan unless manually turn off CANNOT BE LOWER THAN start_temp
                        "temperature_sensor" : "temperature_sensor chamber",
                        "control_speed": 0.6,
                        "tracktimer": True,  # activate timer tracker
                        "alert": 50,},    # fan activity in hour before warning 
                        }

###  DO NOT MODIFY BELOW  ###
[vars fan_savior]  #required to store fan activity

[delayed_gcode _fan_savior_delayed]
initial_duration:1
gcode:
    _FAN_SAVIOR
    UPDATE_DELAYED_GCODE ID=_fan_savior_delayed DURATION=1
     
[gcode_macro _fan_savior]
gcode:
    {% for _fan, _settings in fan_savior.items() %}
        {% set _fan_name = "fan_generic %s" % _fan %}
        {% if _settings.valid is not defined %}
            {% set _= fan_savior[_fan].update({"valid" : true if _fan_name in printer else false }) %}
            {% if not fan_savior[_fan].valid %}
                RESPOND TYPE=error MSG="'{_fan}' is not a valid fan for fan_savior"
            {% endif %}
        {% endif %}

        {% if _settings.valid %}
            {% set fan_config = printer.configfile.config[_fan_name] %}
            {% set control = "value" if printer.mcu.app|default("klipper") == "Kalico" else "speed" %}
            {% set control_speed = _settings.control_speed|default(0.5) %}
            {% set _= _settings.update({"temperature": printer[_settings.temperature_sensor].temperature, "speed" : printer[_fan_name][control] }) %}

            {% if printer[_fan_name][control] <= control_speed %}
                {% if printer[_fan_name][control] < control_speed %}
                {% if printer[_settings.temperature_sensor].temperature > _settings.start_temp %}
                    SET_FAN_SPEED FAN={_fan} SPEED={control_speed}
                    RESPOND PREFIX= MSG="_FAN_SAVIOR starts '{_fan}'"
                {% endif %}
                {% elif printer[_fan_name][control] == control_speed %}
                {% if printer[_settings.temperature_sensor].temperature < _settings.stop_temp %}
                    SET_FAN_SPEED FAN={_fan} SPEED=0
                    RESPOND PREFIX= MSG="_FAN_SAVIOR has stopped '{_fan}'"
                {% endif %}
                {%endif %}
            {% endif %}
        {% endif %}

        {% if _settings.tracktimer %}
            {% set fan_timer = printer.vars.fan_savior[_fan]|default(0) %}
            {% set ctime = printer.toolhead.estimated_print_time %}
            
            {% if (printer[_fan_name][control] > 0 and not _settings.running) %}
                {% set _= fan_savior[_fan].update({"running" : printer[_fan_name][control] > 0, "starttime" : ctime }) %}
            {% elif ( ctime > (_settings.starttime|default(ctime) + 600)
                or printer[_fan_name][control] == 0 ) and _settings.running %}
                
                {% set fan_timer = fan_timer + (ctime - _settings.starttime) / 3600 %}
                SET_VARS_FAN_SAVIOR {_fan}={fan_timer} PERSISTENT=1
                {% set _= fan_savior[_fan].update({"running": printer[_fan_name][control] != 0, "starttime": ctime}) %}
            {% endif %}

            {% if fan_timer > _settings.alert*0.9 and ctime > _settings.last_alert|default(20 - alert_frequency) + alert_frequency %}
                {% set _= fan_savior[_fan].update({"last_alert" : ctime}) %}
                QUERY_FAN_TIMER FAN="{_fan}" TYPE="error"
            {% endif %}
        {% endif %}

    {% endfor %}

[gcode_macro QUERY_FAN_TIMER]
description: Check fan use. usage QUERY_FAN_TIMER FAN=<name>
gcode:
    {% set fan_savior = printer["gcode_macro _fan_savior"].fan_savior %}
    {% set _fan = params.FAN %}
    {% set _fan_name = "fan_generic %s" % _fan %}
    {% set type = params["TYPE"]|default("command") %}
    {% if _fan_name not in printer%}
        {action_raise_error("%s config not found" % _fan_name)}
    {% endif %}
    {% set _settings = fan_savior[_fan] %}
    {% set fan_timer = printer.vars.fan_savior[_fan]|default(0) %}
    {% if _settings is defined and fan_timer >= 0 %}
        {% set time_left = _settings.alert - fan_timer %}
        {% set str = "left" if time_left >= 0 else "overdue" %}
        {% set msg = "Fan %s use : %.2f%% of %dh. %ih%.2i %s. " % (_fan, fan_timer/_settings.alert * 100,_settings.alert,(time_left|abs)|int,((time_left|abs)*60 % 60 )|int,str) %}
        RESPOND TYPE={type} MSG="{msg}"
        {% if type == "error" %}
            _PROMPT_QUESTION TITLE="Fan Alert Timer" MSG="{msg} Would you like to mute this reminder for the next 12h ?" ACTION="_DISABLE_FAN_TIMER FAN={_fan}" 
        {% else %}
            _PROMPT_MSGBOX TITLE="Fan Alert Timer"  MSG="{msg}"
        {% endif %}
    {% endif %}

[gcode_macro RESET_FAN_TIMER]
description: Reset fan timer. UI required. usage RESET_FAN_TIMER FAN=<name>
gcode:
    {% set fan_savior = printer["gcode_macro _fan_savior"].fan_savior %}
    {% set _fan = params.FAN %}
    {% set _fan_name = "fan_generic %s" % _fan %}
    {% if _fan_name not in printer%}
        {action_raise_error("%s config not found" % _fan_name)}
    {% endif %}
    {% set _settings = fan_savior[_fan] %}
    {% set fan_timer = printer.vars.fan_savior[_fan]|default(0) if printer.vars.fan_savior is defined else 0 %}
    {% if _settings is defined and fan_timer >0 %}
        {% if params["CONFIRM"]|default(0)|int == 1 %}
            _PROMPT_CLOSE
            SET_VARS_FAN_SAVIOR {_fan}=0 PERSISTENT=1
        {% else %}
            _PROMPT_QUESTION TITLE="Fan Alert Timer" MSG="Do you really want to reset {_fan} timer ?" ACTION="RESET_FAN_TIMER {rawparams} CONFIRM=1"
        {% endif %} 
    {% else %}
        {action_raise_error("nothing to reset")}
    {% endif %}

[gcode_macro _DISABLE_FAN_TIMER]
gcode:
    {% set fan_savior = printer["gcode_macro _fan_savior"].fan_savior %}
    {% set _fan = params.FAN %}
    {% set ctime = printer.toolhead.estimated_print_time %}
    {% set _= fan_savior[_fan].update({"last_alert" : ctime + 42600 }) %}
    _PROMPT_CLOSE
    SET_GCODE_VARIABLE MACRO=_fan_savior VARIABLE=fan_savior VALUE="{ fan_savior }"
    RESPOND TYPE=command MSG="Fan {_fan} alert disabled for next 12h or until next restart"