# This addon allows you to inject modifications into start/endprint_actions_array without a complete override,
# preserving startup generation.
# startprint_actions_edition is an array containing the desired changes.
# Example :
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions_edition: [
#   {'before':'CLEAR_PAUSE','command':'PLAYSONG SONG=CUCARACHA'},
#   {'after':'HEATSOAK_BED','module':'PURGE'},
#   {'delete':'HEATSOAK_CHAMBER'},
#   {'replace':'PRIMELINE','command':'POOP_PURGE'}
#  ]
# These changes are applied at startup, after klippain init success.
# Alternatively, you can reset startprint_actions_array to its default (or config) using RESET_START_PRINT_ACTIONS,
# to apply startprint_actions_edition again, RESET_START_PRINT_ACTIONS APPLYCHANGES=1
# and manually apply changes with EDIT_START_PRINT_ACTIONS.
# Usage: EDIT_START_PRINT_ACTIONS [BEFORE|AFTER|DELETE|REPLACE]=<command|module target> [COMMAND|MODULE]=<new item>
# Use SHOW_START_PRINT_ACTIONS to display the current array.
# Macros for editing endprint_actions_array are RESET_END_PRINT_ACTIONS, EDIT_END_PRINT_ACTIONS, SHOW_END_PRINT_ACTIONS

[gcode_macro _USER_VARIABLES]
variable_startprint_actions_edition: []
variable_endprint_actions_edition: []

# Injection start/end editions at startup
[delayed_gcode _INJECT_ACTION_EDITION]
initial_duration: 3
gcode:
    _EDIT_START_PRINT_ACTIONS
    _EDIT_END_PRINT_ACTIONS

### Dedicate macros to Startprint_actions  ###
[gcode_macro SHOW_START_PRINT_ACTIONS]
description: show current Startprint_actions_array in console
gcode:
    _SHOW_ACTIONS PREFIX=START
   
[gcode_macro _EDIT_START_PRINT_ACTIONS]
variable_retry: 10
gcode:
    {% if retry > 0 %}
        _EDITIONS PREFIX=START RETRY={retry}
    {% endif %}

[gcode_macro EDIT_START_PRINT_ACTIONS]
description: Modify startprint_actions_array, Usage : EDIT_START_PRINT_ACTIONS [BEFORE|AFTER|DELETE|REPLACE]=<command|module target> [COMMAND|MODULE]=<new item>
gcode:
    # Declare available parameters
    {% set _= params.BEFORE %}
    {% set _= params.AFTER %}
    {% set _= params.DELETE %}
    {% set _= params.REPLACE %}

    {% set _= params.COMMAND %}
    {% set _= params.MODULE %}

    _EDIT_ACTIONS PREFIX=START {rawparams}

[gcode_macro RESET_START_PRINT_ACTIONS]
description: Reset start print actions from init or config
gcode:
    _RESET_ACTIONS PREFIX=START {rawparams}

### Dedicate macros to Endprint_actions  ###
[gcode_macro SHOW_END_PRINT_ACTIONS]
description: show current Endprint_actions_array in console
gcode:
    _SHOW_ACTIONS PREFIX=END
   
[gcode_macro _EDIT_END_PRINT_ACTIONS]
variable_retry: 10
gcode:
    {% if retry > 0 %}
        _EDITIONS PREFIX=END RETRY={retry}
    {% endif %}

[gcode_macro EDIT_END_PRINT_ACTIONS]
description: Modify endprint_actions_array, Usage : EDIT_END_PRINT_ACTIONS [BEFORE|AFTER|DELETE|REPLACE]=<command|module target> [COMMAND|MODULE]=<new item>
gcode:
    # Declare available parameters
    {% set _= params.BEFORE %}
    {% set _= params.AFTER %}
    {% set _= params.DELETE %}
    {% set _= params.REPLACE %}

    {% set _= params.COMMAND %}
    {% set _= params.MODULE %}

    _EDIT_ACTIONS PREFIX=END {rawparams}

[gcode_macro RESET_END_PRINT_ACTIONS]
description: Reset end print actions from init or config
gcode:
    _RESET_ACTIONS PREFIX=END {rawparams}

### common macros for print_actions editions ###
[gcode_macro _EDITIONS]
gcode:
    {% set prefix = params.PREFIX|lower %}
    {% set retry = params.RETRY|int %}
    {% set _uvars = printer['gcode_macro _USER_VARIABLES'] %}
    {% if _uvars.klippain_startup_succeded %}
        {% set edit = _uvars[prefix+"print_actions_edition"]|default([]) %}
        {% set action_array = _uvars[prefix+"print_actions_array"] %}
        {% for modif in edit %}
            _EDIT_ACTIONS PREFIX={prefix} BEFORE={modif.before} AFTER={modif.after} DELETE={modif.delete} REPLACE={modif.replace
                        } COMMAND="{modif.command}" MODULE="{modif.module}"
        {% endfor %}
        SET_GCODE_VARIABLE MACRO=_EDIT_{prefix|upper}_PRINT_ACTIONS VARIABLE=retry VALUE=0
        {% if edit|length %}
            RESPOND TYPE=command MSG="print_actions_addon : '{prefix}print_actions_array' has been modified successfully !"
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_EDIT_{prefix|upper}_PRINT_ACTIONS VARIABLE=retry VALUE={retry-1}
        UPDATE_DELAYED_GCODE ID=_INJECT_ACTION_EDITION DURATION=1
    {% endif %}

[gcode_macro _SHOW_ACTIONS]
gcode:
    {% set prefix=params.PREFIX|lower %}
    {% set ns = [] %}
    {% set action_array = printer["gcode_macro _USER_VARIABLES"][prefix+"print_actions_array"] %}
      {% for el in action_array %}
         {% set _= ns.append("%s : %s" % (loop.index, el) ) %}
      {% endfor %}
      {action_respond_info(ns|join("\n"))} 

[gcode_macro _EDIT_ACTIONS]
description: Edit Start/End_print actions array
gcode:
    {% set prefix=params.PREFIX|upper %}

    {% set _p=params %}
    # remove empty parameters (Fluidd hack)
    {% for param in _p.copy() if _p[param] == "" %}
        {% set _= _p.pop(param) %}
    {% endfor %}
    # validate entries : only one action and zero or one type
    {% set action = _p.keys()|select('in', ["BEFORE","AFTER","DELETE","REPLACE"])|list %}
    {% set type = _p.keys()|select('in', ["COMMAND","MODULE"])|list %}
    {% if action|length != 1 %}
         _RAISE_ERROR MSG="EDIT_{prefix}_PRINT_ACTIONS : Ambiguous request, choose one BEFORE, AFTER, DELETE, REPLACE"
    {% elif type|length > 1 or (type|length == 0 and action.0 != "DELETE") %}
         _RAISE_ERROR MSG="EDIT_{prefix}_PRINT_ACTIONS : Invalid request, add one COMMAND or MODULE"
    {% endif %}

    # validate existing command/module 
    {% if type.0 == "COMMAND" %}{% set _= _p.update({type.0 :_p[type.0].split(" ",1).0, "parameters": _p[type.0].split(" ",1).1|default("")}) %}{% endif %}
    {% if (type.0 == "COMMAND" and _p[type.0]|upper not in printer.gcode.commands) or
        (type.0 == "MODULE" and ("_%s_PRINT_ACTION_%s" % (prefix,_p[type.0]|upper)) not in printer.gcode.commands) %}
        _RAISE_ERROR MSG="EDIT_{prefix}_PRINT_ACTIONS : {type.0|lower} '{_p[type.0]}' doesn't exist"
    {% endif %}

    # search for print_actions_array_target
    {% set action_array = printer["gcode_macro _USER_VARIABLES"][prefix|lower+"print_actions_array"] %}
    {% set search= {} %}
    {% set _= search.update({"value":_p[action.0]}) %}
    {% if search.value %}
        {% for item in action_array | reverse %}
            {% if search.value in [item.module, item.command] %}
                {% set _= search.update({"idx":loop.revindex0}) %}
            {% endif %}
        {% endfor %}
    {% else %}
        _RAISE_ERROR MSG="EDIT_{prefix}_PRINT_ACTIONS : target not properly set"
    {% endif %}

    {% if search.idx is defined %}
        {% set command = {type.0|lower: _p[type.0]} %}
        {% if _p.parameters %}{% set _= command.update({"parameters" : _p.parameters}) %}{% endif %}
        {% if action.0 == "BEFORE" %}
            {% set _= action_array.insert(search.idx, command) %}
        {% elif action.0 == "AFTER" %}
            {% set _= action_array.insert(search.idx+1, command) %}
        {% elif action.0 == "DELETE" %}
            {% set _= action_array.pop(search.idx) %}
        {% elif action.0 == "REPLACE" %}
            {% set _= action_array.pop(search.idx) %}
            {% set _= action_array.insert(search.idx, command) %}
        {% endif %}
    {% else %}
        _RAISE_ERROR MSG="EDIT_{prefix}_PRINT_ACTIONS : {search.value} not found in {prefix|lower}print_actions_array"
    {% endif %}

    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE={prefix|lower}print_actions_array VALUE="{action_array}"

[gcode_macro _RESET_ACTIONS]
gcode:
    {% set prefix=params.PREFIX|lower %}

    {% set config = printer.configfile.config["gcode_macro _USER_VARIABLES"]["variable_"+prefix+"print_actions_array"] %}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE={prefix}print_actions_array VALUE="{[]}"
    {% if config != "[]" %}
        SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE={prefix}print_actions_array VALUE="{config}"
    {% endif %}
    _INIT_{prefix}_PRINT_ACTIONS
    {% if params.APPLYCHANGES|default(0)|int == 1 %}
        SET_GCODE_VARIABLE MACRO=_EDIT_{prefix|upper}_PRINT_ACTIONS VARIABLE=retry VALUE=1
        _EDIT_{prefix}_PRINT_ACTIONS
    {% endif %}
