# Addons for Klippain chocolate
[gcode_macro _USER_VARIABLES]
variable_warmup_user_params: []
variable_chamber_temperature_sensor_enabled: False  # Mandatory to skip Klippain Heatsoak and use Adaptive heatsoak instead

# hs_sequence see heatsoak.cfg for details
[gcode_macro _HS_VARIABLES]
variable_hs_allow_standalone: True  #To manually use HEATSOAK
variable_verbose: False
variable_hs_sequence: {
                    'bed_temp':{'type': 'temp','sensor': 'heater_bed', 'offset_temp': 1, 'timeout': 15 },
                    'bed_power':{'type': 'pwm','sensor': 'heater_bed'},
                    'chamber_temp':{'type': 'temp','sensor': 'temperature_sensor chamber'}
                    }

# Macro WARMUP Called by the slicer Start g-code
# Ensure to not use M191 override from OrcaSLicer
[gcode_macro WARMUP]
description: Machine heatup procedure before START_PRINT
variable__wu: {}
gcode:
    {% set _u_vars = printer['gcode_macro _USER_VARIABLES'] %}
    {% set _error = [] %}
    {% set _= _wu.clear() %}
    {% set _p = params %} # Avoid UI parsing

    ## Allowed and deprecated parameters for Heatsoak
    # --------------------------------------------------------
    # We define the allowed parameters for the WARMUP macro. The list is used to check if the parameters are valid or not.
    {% set ALLOWED_P = [
        "BED_TEMP", "CHAMBER_TEMP",  # Temperature target for bed and chamber
        "SOAK", "CHAMBER_MAXTIME",  # Heatsoak time for bed, chamber soak timeout in minutes
        "MATERIAL",
    ]%}
    # We add the user parameters to the list of allowed parameters
    {% set USER_PARAMS=_u_vars.warmup_user_params|default([]) %}
    {% set _=ALLOWED_P.extend(USER_PARAMS) %}
    # we declare deprecated parameters formatted as dict
    # DEPRECATED_PARAMS = {"<PARAM1_NAME>" : "Reason for deprecation andguide to solve", "<PARAM2_NAME>" : "Reason2"}
    {% set DEPRECATED_PARAMS = {} %}

     # We save default values for the parameters in the _wu variable
    {% set _= _wu.update({
        "material" : printer.save_variables.variables.current_material_name|default(printer["gcode_macro _USER_VARIABLES"].print_default_material)|string,
    })%}

    {% for PARAM, value in _p.items() %}
        {% if PARAM in ALLOWED_P %} # Load params
            # apply implicit type to value
            {% set value = value|int if (value|float == value|int and value|float != 0.0) or value == '0' else (
                        value|float if value|float != 0.0 else 
                        value|string
                        )%}
            {% set _=_wu.update({PARAM|lower: value}) %}
        {% else %} # Check for unknown or deprecated params
            {% set _= _error.append(PARAM) %}
            {% if PARAM in DEPRECATED_PARAMS %}
                RESPOND PREFIX='WARMUP params:' MSG="<span class="warning"--text> {PARAM } is deprecated {DEPRECATED_PARAMS[PARAM]}</span>"
            {% else %}
                RESPOND PREFIX='WARMUP params:' MSG="<span class="warning"--text> Unknown {PARAM }, check your slicer start_gcode or add if in variable_start_gcode_user_params</span>"
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if _error|length %}
        _RAISE_ERROR MSG="Unkown parameters in WARMUP : {_error|join(', ')}"    
    {% endif %}

    # Load material parameters
    _LOAD_PROFILE_BY_NAME TABLE=material NAME='{_wu.material}'

    RESPOND MSG="PRINTER WARMING UP"
    CLEAR_PAUSE
    HEATSEQ_CANCEL #disable previous heatsoak
    _WARMUP_ACTIONS

[gcode_macro _WARMUP_ACTIONS]
gcode:
    {% set _wu = printer["gcode_macro WARMUP"]%}
    {% set _material=printer["gcode_macro _MATERIAL"].current %}
    {% set _u_vars=printer["gcode_macro _USER_VARIABLES"] %}
    {% set BED_TEMP = _wu.bed_temp|default(_material.bed_temp) %}
    {% set SOAK = _wu.soak|default(_material.soak) %}
    {% set CHAMBER_TEMP = _wu.chamber_temp|default(_material.chamber_temp) %}
    {% set CHAMBER_MAXTIME = _wu.chamber_maxtime|default(_material.chamber_maxtime) %}

    # If a filter is enabled and already running due to a print that just finished, we stop
    # it now and deactivate the pending delayed gcode that could be running. The filter
    # could be restarted later in the START_PRINT sequence depending of the parameters
    {% if _u_vars.filter_enabled %}
        UPDATE_DELAYED_GCODE ID=_STOP_FILTER_DELAYED DURATION=0
        START_FILTER SPEED={_material.filter_speed / 100}
    {% endif %}

    # Adaptive heatsoak see heatsoak.cfg for config
    HEATSEQ SEQUENCE=heatsoak TIMEOUT={SOAK} BED_TEMP={BED_TEMP} CHAMBER_TEMP={CHAMBER_TEMP} CHAMBER_TEMP_TIMEOUT={CHAMBER_MAXTIME}



[gcode_macro RESUME]
rename_existing: BASE_RESUME
description: Resume the print after an optional unretract
variable_extruder_target_temp: 0
gcode:
    {% set St = printer["gcode_macro _USER_VARIABLES"].travel_speed %}
    {% set light_enabled = printer["gcode_macro _USER_VARIABLES"].light_enabled %}
    {% set light_intensity_printing = printer["gcode_macro _USER_VARIABLES"].light_intensity_printing %}
    {% set klippain_mmu_enabled = printer["gcode_macro _USER_VARIABLES"].klippain_mmu_enabled %}
    {% set idle_timeout_on_pause = printer["gcode_macro _USER_VARIABLES"].idle_timeout_on_pause|default(0)|int %}
    {% set turn_off_extruder = printer["gcode_macro _USER_VARIABLES"].turn_off_extruder_on_pause %}

    {% set _hs = printer["gcode_macro HEATSEQ"] %}
    {% if _hs.soak_pending %}
        HEATSEQ_NEXT
    {% else %}
        {% if not printer.pause_resume.is_paused %}
            RESPOND MSG="Print is not paused. Resume ignored"
        {% else %}
            {% if klippain_mmu_enabled %}
                {% set vars = printer['gcode_macro _MMU_CLIENT_VARS'] %}
                _MMU_RESTORE_POSITION
                {vars.user_resume_extension|default("")}
                _RETRACT
            {% else %}
                RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED={St}
            {% endif %}

            {% if light_enabled %}
                LIGHT_ON S={light_intensity_printing}
            {% endif %}

            {% if idle_timeout_on_pause > 0%}
                SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
            {% endif %}

            {% if turn_off_extruder and extruder_target_temp > 0 %}
                M109 S{extruder_target_temp|int}
            {% endif %}

            BASE_RESUME
        {% endif %}
    {% endif %}

