#########################################
########## ADAPTIVE BED MESH ############
#########################################
# Written by Frix_x#0161 #
# @version: 5.0

# CHANGELOG:
#   v5.0: - Uses Klipper adaptive but hack exclude_object to use FL_SIZE
#   v4.0: - patched and re-simplified the macro to work with latest Klipper changes: zero_reference_position is much more constrained and all the fancy stuff
#           that was used in the past for homing over the RRI with virtual probe or Z calibration plugin is not possible anymore. Now homing must be done at
#           fixed zero_reference_poisition and can't be dynamic anymore (but it's also simpler)
#         - this change also allow the mesh to have even probe point now for more flexibility
#   v3.0: - added the use of [exclude_object] tags to extract the first layer bounding box (many thanks to Kyleisah for the excellent idea and inspiration)
#           the macro is still fully compatible with the old way using the SIZE parameter: it will use it if specified, or else
#           fallback to the [exclude_object] method and if both are not available, it will do a full and normal bed mesh as usual.
#         - also added a FORCE_MESH parameter to mesh even for very small parts
#         - removed the RRI that was always added put in the BED_MESH_CALIBRATE call. Now it's added only when there is one defined in the [bed_mesh] section
#   v2.3: moved the install notes into a proper markdown file in: docs > features > adaptive_bed_mesh.md
#   v2.2: removed the requirement to set mesh_pps in the [bed_mesh] section. It's now again optional as it should be
#   v2.1: fix for the nominal mesh (when no SIZE parameter is used or SIZE=0_0_0_0)
#   v2.0: split in multple macros to be able to use the center point in the z calibration bed probing position before doing the mesh
#   v1.1: fix for a bug when parsing string when using uppercase letters in the [bed_mesh] section
#   v1.0: first adaptive bed mesh macro

# -------------------------------------------------------------------------------------------------------------------------
# If you want to use it into your own config, please install it as a standalone macro as described in the
# installation section of this file: docs > features > adaptive_bed_mesh.md
# -------------------------------------------------------------------------------------------------------------------------

### What is it ? ###
# The adaptive bed mesh is simple: it's a normal bed mesh, but only "where" and "when" it's necessary.
# Sometime I print small parts, sometime I print full plates and I like to get a precise bed_mesh (like 9x9 or more). However, it take a
# lot of time and it's useless to probe all the plate for only a 5cm² part. So this is where the adaptive bed mesh is helping:
# 1. It get the corners coordinates of the fisrt layer surface either from the slicer or the [exclude_object] tags
# 2. It compute a new set of points to probe on this new zone to get at least the same precision as your standard bed mesh. For example, if
#    a normal bed mesh is set to 9x9 for 300mm², it will then compute 3x3 for a 100mm² surface. Also if for whatever reason your parts are in
#    the corner of the build plate (like for a damaged PEI in the center), it will follow them to probe this exact area.
# 3. To go further, it will not do any bed_mesh if there is less than 3x3 points to probe (very small part alone) and choose/change the
#    algorithm (bicubic/lagrange) depending of the size and shape of the mesh computed (like 3x3 vs 3x9)

# Feel free to ping me on Discord (Frix_x#0161) if you need help or have any comments to improve it :)


# ===========================================================================================================
# DO NOT MODIFY THOSE VARIABLES (they are used internaly by the adaptive bed mesh macro)
[gcode_macro ADAPTIVE_BED_MESH]
description: Perform a bed mesh, but only where and when its needed
gcode:
    # 1 ----- GET ORIGINAL BEDMESH PARAMS FROM CONFIG ----------------------
    {% set _sp = printer["gcode_macro START_PRINT"]|default({"fl_size":[0,0,0,0]}) %}
    {% set xMinConf, yMinConf = printer.configfile.settings.bed_mesh.mesh_min %}
    {% set xMaxConf, yMaxConf = printer.configfile.settings.bed_mesh.mesh_max %}
    {% set xProbeCntConf, yProbeCntConf = printer.configfile.settings.bed_mesh.probe_count %}
   
        # compute nominal cell size
    {% set xCellSize = (xMaxConf - xMinConf ) / (xProbeCntConf - 1) %}
    {% set yCellSize = (yMaxConf - yMinConf ) / (yProbeCntConf - 1) %}


    {% set margin = params.MARGIN|default(5)|float %} # additional margin to mesh around the first layer
    {% set force_mesh = params.FORCE_MESH|default(false) %} # force the mesh even if it's a small part (ie. computed less than 3x3)

    # Retrieve fl_size from param SIZE or START_PRINT
    {% set fl_size = params.SIZE.split('_')|map('trim')|map('float')|list if params.SIZE else _sp.fl_size  %}

    {% set do_mesh = true %}
    {% set adaptive = 0 %}
    {% if fl_size != [0,0,0,0] %}
        {% set adaptive = 1 %}
        {% set xMinSpec, yMinSpec, xMaxSpec, yMaxSpec = fl_size %}

        # Backup exclude object and create a dummy object for adaptive meshing
        {% if printer.exclude_object.objects %}
            {% set exclude_object = printer.exclude_object.objects %}
        {% endif %}  
        EXCLUDE_OBJECT_DEFINE RESET=1
        EXCLUDE_OBJECT_DEFINE NAME=fl_size CENTER={ (xMaxSpec-xMinSpec)/2 },{ (xMaxSpec-xMinSpec)/2 } POLYGON=[[{xMinSpec},{yMinSpec}],[{xMinSpec},{yMaxSpec}],[{xMaxSpec},{yMaxSpec}],[{xMaxSpec},{yMinSpec}]]

        # Disable mesh if print is too small
        {% if xCellSize >= (xMaxSpec - xMinSpec) and yCellSize >= (yMaxSpec - yMinSpec) %}
            # Disabel mesh if print area is smaller than a cellsize
            RESPOND MSG="Bed mesh not needed for very small parts"
            {% set do_mesh = false %}
        {% endif %}
        
    {% endif %}
    {% if not adaptive %}
        # If no SIZE parameter and no [exclude_object] tags, then we want to do a nominal bed mesh
        # so nothing to do here...
        RESPOND MSG="No info about the first layer coordinates, doing a nominal bed mesh instead of adaptive"
    {% endif %}

    {% if do_mesh or force_mesh %}
        BED_MESH_CALIBRATE ADAPTIVE={adaptive} ADAPTIVE_MARGIN={margin}
    {% else %}
        RESPOND MSG="Adaptive bed mesh: no mesh to be done"
    {% endif %}

    # Restore exclude Objects
    EXCLUDE_OBJECT_DEFINE RESET=1
    {% if exclude_object is defined %}
        {% for e in exclude_object %}
            EXCLUDE_OBJECT_DEFINE NAME={e.name} CENTER={e.center|join(',')} POLYGON={e.polygon|string|replace(' ','')}
        {% endfor %}
    {% endif %}


