[gcode_macro CALIBRATE_Z]
rename_existing: _BASE_CALIBRATE_Z
description: Perform the Z calibration using the physical Z endstop and the dockable probe
gcode:
    {% set _uvars = printer["gcode_macro _USER_VARIABLES"]%}
    {% set _abm = printer["gcode_macro COMPUTE_MESH_PARAMETERS"].abm %}
    {% set _settings = printer["configfile"].settings %}
    
    {% if _uvars.status_leds_enabled %}
        STATUS_LEDS COLOR="CALIBRATING_Z"
    {% endif %}

    {% if _vars.verbose %}
        RESPOND MSG="Auto Z calibration..."
    {% endif %}
        
    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home printer first!") }
    {% endif %}

    {% if _uvars.verbose %}
        { action_respond_info("Z Offset calibration") }
    {% endif %}

    # Goto to z probe avoiding dock
    _GOTO_Z_PROBE

    # Ensure Home Z
    G28 Z

    # If there is a bed_mesh enabled and a zero_reference_position set, we retrieve it to calibrate Z on it (using probe offsets)
    # If no mesh required, we use the center of the print area
    # Else, we set default to the zero_reference_position 
    {% if not _uvars.bed_mesh_enabled or not _settings["bed_mesh"]["zero_reference_position"] %}
        _BASE_CALIBRATE_Z
    {% else %}
        {% set ZRPx, ZRPy = _settings["bed_mesh"]["zero_reference_position"] %}
        {% if not _abm.do_mesh and _abm.ready %}
            {% set ZRPx, ZRPy = _abm.mesh_center %}
        {% endif %}
        _BASE_CALIBRATE_Z BED_POSITION="{ZRPx},{ZRPy}"
    {% endif %}

    {% if _uvars.status_leds_enabled %}
        STATUS_LEDS COLOR="READY"
    {% endif %}
